.navigation_bar{
  display: flex;
  font-size: clamp(3svh, 3svh + 1px, 5svh);
  justify-content: space-between;
  padding: 1rem;
  flex-direction: row;
  height: fit-content;
  flex-wrap: wrap;
}

.name{
  justify-self: space-between;
}