@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
.picOfMe{
    aspect-ratio: 1 / 1;
    max-height: 50%;
    border-radius: 50%;
    border: 5px solid black
}
.image-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 1rem;
}
.radial-gradient{
    display: flex;
    aspect-ratio: 1 / 1;
    width: 50%;
    justify-content: center;
    justify-self: start;
    align-items: center;
    background: radial-gradient(circle, rgba(116,54,249,1) 20%, rgba(116,54,249,0) 70%);;
}

.description{
    display: flex;
    text-align: center;
    width: 40%;
    align-self: stretch;
    text-align: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    border: solid black 3px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5%;
    margin: 1rem;
}

.description > span {
    align-self: center;
    font-size: 3svh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@keyframes flare{
    from{
        background: radial-gradient(circle, rgba(116,54,249,0) 0%, rgba(116,54,249,1) 70%);
    }
    to{
        background: radial-gradient(circle, rgba(116,54,249,1) 0%, rgba(116,54,249,0) 70%);
    }
}
